# PORT
PORT=5500
SERVER_URL="http://localhost:5500"

# ENVIRONMENT
NODE_ENV=development

# DATABASE
DB_URI="your-mongodb-connection-string"

# JWT AUTH
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="1d"

# ARCJET
ARCJET_KEY="your-arcjet-key"
ARCJET_ENV="development"

# UPSTASH
QSTASH_URL="your-upstash-url"
QSTASH_TOKEN="your-upstash-token"

# NODEMAILER
EMAIL_PASSWORD="your-email-password"
